<div id="example1">
<div class="col-md-6 offset-5 mt-4 mb-3">
  <div class="card text-white bg-dark mb-3" style="max-width: 14rem;">
    <div class="card-body">
    <h5 class="text-center"><b>Welcome  Student</b></h5>
    </div>
  </div>
  </div>
<div class="col-md-2 offset-5 mt-4 mb-3"><div class="card border-secondary mb-5" style="width: 14rem;">
<div class="btn-group-vertical">
  <div class="card-body"style="text-center">
    <a href="/requestBook" class="btn btn-outline-success btn-lg btn-block" >Request Book</a>
    <br>
    <a href="/returnBook" class="btn btn-outline-warning btn-lg btn-block" >Borrowed Books</a>
    <br>
    <a href="/bookby-name" class="btn btn-outline-dark btn-lg btn-block" >Search Book</a>
  </div>
</div>
</div>
</div>
</div>

