<div id="example1">
  <div class="col-md-6 offset-5 mt-4 mb-3">
    <div class="card text-white bg-dark mb-3" style="max-width: 14rem;">
      <div class="card-body">
        <h5 class="text-center"><b>Welcome Admin</b></h5>
      </div>
    </div>
  </div>
  <div class="col-md-2 offset-5 mt-4 mb-3">
    <div class="card border-secondary mb-5" style="width: 14rem;">
      <div class="btn-group-vertical">
        <div class="card-body">
          <a href="/addBook" class="btn btn-outline-success btn-lg btn-block">Add Book</a>
          <br>
          <a href="/showRequests" class="btn btn-outline-info btn-lg btn-block">Show Requests</a>
          <br>
          <a href="/showUsers" class="btn btn-outline-warning btn-lg btn-block">Show Users</a>
          <br>
          <a href="/issuedBooks" class="btn btn-outline-success btn-lg btn-block">Issued Books</a>
          <br>
          <a href="/booksInfo" class="btn btn-outline-dark btn-lg btn-block">Books Info</a>
        </div>
      </div>
    </div>
  </div>