<div id="example2">
<div id="example">
  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <div class="col-md-6 offset-5 mt-4 mb-3">
    <div class="card text-white bg-dark mb-3" style="max-width: 16rem;">
      <div class="card-body">
        <h5 class="text-center"><b>Add Book</b></h5>
      </div>
    </div>
  </div>

  <div class="card col-md-4 offset-md-4 mt-4">
    <form #addBookForm='ngForm' (ngSubmit)='postBook(addBookForm)'>

      <div class="form-group mt-4">
        <label class="sr-only" for="bookName">BookName</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span>BookName</span></div>
          </div>
          <input type="text" class="form-control form-control-lg" id="bookName" #bookName='ngModel' ngModel
            name="bookName" pattern="[a-zA-Z0-9\s]*" required>
        </div>
      </div>
      <div *ngIf="bookName.touched && bookName.invalid">
        <p class="alert alert-danger" *ngIf="bookName.errors.required">BookName is required</p>
        <p class="alert alert-danger" *ngIf="bookName.errors.pattern">Accepts both digits and alphabets</p>
      </div>

      <div class="form-group mt-4">
        <label class="sr-only" for="authorName">Author</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span>Author</span></div>
          </div>
          <input type="text" class="form-control form-control-lg" id="authorName" name="authorName"
            #authorName='ngModel' ngModel required pattern="[a-zA-Z\s]*">
        </div>
      </div>

      <div *ngIf="authorName.touched && authorName.invalid">
        <p class="alert alert-danger" *ngIf="authorName.errors.required">AuthorName is required</p>
        <p class="alert alert-danger" *ngIf="authorName.errors.pattern">Accepts only Alphabets</p>
      </div>

      <div class="form-group mt-4">
        <label class="sr-only" for="bookCategory">Category</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span>Category</span></div>
          </div>
          <input type="text" class="form-control form-control-lg" id="bookCategory" name="bookCategory"
            #bookCategory='ngModel' ngModel required pattern="[a-zA-Z\s]*">
        </div>
      </div>
      <div *ngIf="bookCategory.touched && bookCategory.invalid">
        <p class="alert alert-danger" *ngIf="bookCategory.errors.required">BookCategory is required</p>
        <p class="alert alert-danger" *ngIf="bookCategory.errors.pattern">Accepts only Alphabets</p>
      </div>

      <div class="form-group mt-4">
        <label class="sr-only" for="copies">Copies</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span>Copies</span></div>
          </div>
          <input type="text" class="form-control form-control-lg" id="copies" #copies='ngModel' ngModel name="copies"
            required pattern="[0-9]*">
        </div>
      </div>

      <div class="form-group mt-4">
        <label class="sr-only" for="publisherName">Publisher</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span>Publisher</span></div>
          </div>
          <input type="text" class="form-control form-control-lg" id="publisherName" #publisherName='ngModel' ngModel
            name="publisherName" required pattern="[a-zA-Z0-9\s]*">
        </div>
      </div>
      <div *ngIf="publisherName.touched && publisherName.invalid">
        <p class="alert alert-danger" *ngIf="publisherName.errors.required">PublisherName is required</p>
        <p class="alert alert-danger" *ngIf="publisherName.errors.pattern">Accepts only Alphabets</p>
      </div>

      <div class="text-center">
        <button type="submit" class="btb btn-dark btn-lg btn-block" [disabled]='addBookForm.invalid'>Add Book</button>
      </div>
      <br>
    </form>
  </div>
</div>
</div>