<div class="back-image">
<div class="centered">
  <div class="card-deck" style="width: 60rem; height: 17rem;">
    <div class="card text-white mb-3">
      <img src="https://cdn.pixabay.com/photo/2015/03/26/10/47/books-691980__340.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Objective</h5>
        <p class="card-text">The primary objective of a library is to provide the right information at the right time in
          the right form to its users. To meet this objective, libraries have to provide access to information
          irrespective of their form, format and location.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div> 
    </div>
    <div class="card text-white mb-3">
      <img src="https://cdn.pixabay.com/photo/2015/10/18/20/42/library-995182__340.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title " style="text-align: center;">Activities</h5>
        <p class="card-text">It helps librarian to keep track of the library information.It mainly focus on basic
          operations in a library, like adding new books, and updating the information of books, searching books and
          facility to issue and return books.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card text-white mb-3">
      <img src="https://cdn.pixabay.com/photo/2016/08/19/14/45/books-1605416__340.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Variety Of Books</h5>
        <p class="card-text">We have collections of e-books, graphic novels and comic books, DVDs and Blu-rays, Drama,
          Fairy Tale, Classic, Fable, Crime and Detective, non-fiction, biographies, fiction, begining chapter,
          references etc. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
</div>