<div class="col-md-6 offset-5 mt-4 mb-3">
    <div class="card text-white bg-dark mb-3" style="max-width: 16rem;">
      <div class="card-body">
      <h5 class="text-center"><b>Search book by Title</b></h5>
      </div>
    </div>
    </div> 
<div class="col-md-6 offset-5 mt-4 mb-3">
<form class="form-inline my-2 my-lg-0" style="float: left;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search book by title" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='getBooksByTitle(this.bookbean)'>Search</button>
</form>
</div>
<br>
<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr class="table-warning">
                <th class="table-success">SNo</th>
                <th class="table-success">Book ID</th>
                <th class="table-success">Book Name</th>
                <th class="table-success">Author</th>
                <th class="table-success">Publisher</th>
                <th class="table-success">Copies</th>
                <th class="table-success">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light" *ngFor='let books of book | filter: search; index as i'>
                <td class="table-success">{{i+1}}</td>
                <td class="table-success">{{books.bookId}}</td>
                <td class="table-success">{{books.bookName}}</td>
                <td class="table-success">{{books.authorName}}</td>
                <td class="table-success">{{books.publisherName}}</td>
                <td class="table-success">{{books.copies}}</td>
                <td class="table-success">{{books.bookCategory}}</td>
            </tr>

        </tbody>
    </table>
</div>