<div class="alert alert-success" *ngIf='error'>{{error}}</div>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="col-md-6 offset-5 mt-4 mb-3">
  <div class="card text-white bg-dark mb-3" style="max-width: 16rem;">
    <div class="card-body">
      <h5 class="text-center"><b>Borrowed Books</b></h5>
    </div>
  </div>
</div>

<div class="container mt-4">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr class="thead-dark">
        <th>SL.No</th>
        <th>Id</th>
        <th>UserId</th>
        <th>BookId</th>
        <th>BookName</th>
        <th>Return</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor='let book of borrowed; index as i'>
        <td>{{i + 1}}</td>
        <td>{{book.id}}</td>
        <td>{{book.uId}}</td>
        <td>{{book.bookId}}</td>
        <td>{{book.bookName}}</td>
        <td>
          <button class="btn btn-dark" (click)='bookReturn(book)'>
            Return
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>