<div id="example1">
  <div class="col-md-6 offset-5 mt-4 mb-3">
    <div class="card text-white bg-secondary mb-3" style="max-width: 16rem;">
      <div class="card-body">
        <h5 class="text-center"><b>Search Book</b></h5>
      </div>
    </div>
  </div>
  <div class="col-md-2 offset-5 mt-4 mb-3">
    <div class="card border-secondary mb-5" style="width: 16rem;">
      <div class="btn-group-vertical">
        <div class="card-body">
          <a routerLink="/bookByName" class="btn btn-outline-success btn-lg btn-block">Search By name</a>
          <br>
          <a routerLink="/bookByTitle" class="btn btn-outline-danger btn-lg btn-block">Search By Title</a>
          <br>
          <a routerLink="/bookByAuthor" class="btn btn-outline-warning btn-lg btn-block">Search By Author</a>
          <br>
        </div>
      </div>
    </div>
  </div>